h1{
    text-align: center;
}

body{
    background-color: rgb(178, 136, 237);
    margin: 50px;
}

h1{
    color: aliceblue;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 50px;
}

h3{
    color:aliceblue;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    margin-top: 30px;
}

p{
    color:aliceblue;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}

button{
    transition-duration: 0.4s;
    background-color:rgb(178, 136, 237);
    border: none;
    font-size: 17px;
    
}
  
button:hover {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.img{
    text-align: center;
    margin: 30px;
}

